@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

html , body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer base {
  .menu-link {
    @apply text-slate-600 text-[17px] hover:text-blue-500 transition-all md:ml-2 mr-2 block md:inline  cursor-pointer my-3 md:my-0
  }

  .btn {
     @apply p-2 rounded-sm text-lg inline  shadow-sm

  }

  .service-container {
      @apply shadow-lg p-5 bg-gray-50  border-l-4 border-l-indigo-500
  }

  .service-container .service-description {
    @apply pt-6
  }
/* {
    @apply shadow-lg p-5 bg-gray-50  border-l-4 border-l-indigo-500
  } */


  .service-icon {
    @apply bg-indigo-400 rounded-full text-indigo-500 
  }

  input:focus {
     @apply border-2 border-sky-100 outline-none
  }

  .admin-nav-item {
    @apply flex items-center py-3 sm:py-0 sm:mx-5
  }
  
}
.infos-element {
  z-index: 0 !important;
}
.menu-transpa {
   background-color: blueviolet;
}

@font-face {
  font-family: "Poppins" ;
  src: url('./assets/fonts/Poppins-Light.ttf');
}


* {
  font-family: "Poppins" , sans-serif;
}


button{
  display: inline !important;
}

svg{
  display: inline;
}


.modal-parent::-webkit-scrollbar {
  display: none;
}

.modal-parent{
   -ms-overflow-style: none;
   scrollbar-width: none
}